@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}

.node {
  cursor: pointer;
}

.overlay{
    background-color:#ededed;
}

.node circle {
  fill: #fff;
}

.node text {
  font-size:17px;
  font-family:roboto-light;
}

.link {
  fill: none;
  stroke: white;
  stroke-width: 5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}
